/* shered styles */
.container{
    width: 100%;
   
    
    
}

.site-main-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.site-red-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.site-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
} 


/* header section  style*/
.banner-container{
    align-items: center;
    /* display: flex; */
    width: 100%;
    
}

.banner-section{
    background-image: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 200px 200px;

}

.banner-title{
    
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    
}

.banner-sb-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

/* main section styles */

.main-offer{
    
}
.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
   
    
}

.offer-item{
    text-align: center;
}
.offer-item h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-item h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;

}

.new-year-photo{
        display: block;
        margin: 0 auto 0 auto;
        width: 50%;
        margin-bottom: 50px;
}

/* Vectorrr item styles */

.Vectorrr-section{
    background-image: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 200px 200px;
    display: flex;
    justify-content: space-between;

}
.vectorr-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;

}
.vectorr-sb-title{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}
.vectorr-btn{
    background-color: #F00; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* start date section */

.date-section{
    text-align: center;
    padding: 50px 150px;
    background-color: #FFF3F3;
    margin-top: 50px;
    
}

.date-section h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    
}

.date-coler{
    color: #F00;

    
}

/* coming soon section styles */

.Coming-soon-container{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;


}

.coming-soon-left{
    width: 33%;
}
.coming-soon-center{
    width: 33%;
}
.coming-soon-center img{
    border-radius: 50%;
    
    /* flex-shrink: 0; */
    
    border: 15px solid #F00;
    padding: 10px;
    /* height: 200px;
    width: 200px; */
    margin: 0 40 0 40pxpx;
}
    

.coming-soon-right{
    width: 30%;
    
}

.coming-soon-right-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}


.comming-soon-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;;
    
    
}
   

/* discount section styles */

.discount{

    margin-bottom: 20px;
}

.discount-text-section{
    padding: 80px 20px;
    margin: 20px 0;
    
}

.discount-hedar{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    
}
.disocunt-sub-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}
.discount-hedar-span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    text-align: center;
    font-weight: 900;
    
}
.discount-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    

}

.disocunt-img-container{
    display: flex;
    justify-content: space-between;
}

.discout-left-img{
    position: absolute;
    left: 20px;
    bottom: 40;
}

.discout-center-dis-img{
    position: absolute;
    top: px;
    right: 275px;
}


.discount-img-section{
    background-image: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%), url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px 0 20px 20px;
    padding: 110px 80px;
}

/* portfolio section style */

.portfolio-text{
    padding: 20px 100px 20px 0;
    max-width: 60%;
    
}

.portfolio-sub-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}

.protfolio-img-section-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.protfolio-img-section-2{
    display: flex;
    justify-content: space-between;
}
.coomon-margin-sher{
    margin-right: 5px;
}