/* shered styles */
.container{
    /* width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
     */
    
}


/* header section  style*/
.banner-container{
    align-items: center;
    /* display: flex; */
    width: 100%;
    
}

.banner-section{
    background-image: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 200px 200px;

}

.banner-title{
    
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    
}

.banner-sb-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

/* main section styles */

.main-offer{
    
}
.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
   
    
}

.offer-item{
    text-align: center;
}
.offer-item h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer-item h2{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;

}

.new-year-photo{
        display: block;
        margin: 0 auto 0 auto;
        width: 50%;
        margin-bottom: 50px;
}

/* Vectorrr item styles */

.Vectorrr-section{
    background-image: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 200px 200px;
    display: flex;

}
.vectorr-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;

}
.vectorr-sb-title{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}
.vectorr-btn{
    background-color: #F00; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* start date section */

.date-section{
    text-align: center;
    padding: 100px 350px;
    background-color: #FFF3F3;
    margin-top: 50px;
    
}

.date-section h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    
}

.date-coler{
    color: #F00;

    
}

